<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="/images/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/ue" class="navbar-wagon-item navbar-wagon-link">Union Européenne</a>
    <a href="/moyen-orient" class="navbar-wagon-item navbar-wagon-link">Moyen-Orient</a>
    <a href="/eco" class="navbar-wagon-item navbar-wagon-link">Economie</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profil</a></li>
          <li><a href="/new_country">Ajouter un pays</a></li>
          <li><a href="/new_article">Ajouter un article</a></li>
          <li><a href="/new_source">Ajouter une source</a></li>
          <li><a href="#">Deconnexion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
