<!DOCTYPE html>
<html>
	<head>
        <title>Notes de Géopolitique</title>
        <meta charset="UTF-8" />
        <script src="/lib/jquery.js"></script>
        <script src="/lib/jquery-ui/jquery-ui.js"></script>
        <script src="/lib/raphael-min.js"></script>
   			<script src="/js/monde.js"></script>
        <link rel="stylesheet" href="/Bootstrap-4/css/bootstrap.css">
        <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.js"></script>
        <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/components/navbar.css">
	</head>
	  <body>
      <% include shared/navbar %>
		  <div id="mapmonde" style='height:768px; width:1024px;'></div>
	  </body>
</html>
