<!DOCTYPE html>
<html>
	<head>
        <title>Notes de Géopolitique</title>
        <meta charset="UTF-8" />
        <script src="/lib/jquery.js"></script>
        <script src="/lib/jquery-ui/jquery-ui.js"></script>
        <script src="/lib/raphael-min.js"></script>
   			<script src="/js/monde.js"></script>
	</head>
	  <body>
		  <div id="mapmonde" style='height:768px; width:1024px;'>

		  </div>

		<div id="autres">
			<ul>
				<li><a href="europe/ue.html" target="blank">Union Européenne</a></li>
				<li><a href="moyen-orient/moyenorient.html" target="blank">Moyen-Orient</a></li>
				<li><a href="economie.html" target="blank">Economie</a></li>
			</ul>
		</div>
	  </body>
</html>
