<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nouvel article</title>
    <link rel="stylesheet" href="/Bootstrap-4/css/bootstrap.css">
    <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.js"></script>
    <script type="text/javascript" src="/Bootstrap-4/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/components/navbar.css">
  </head>
  <body>
    <% include ../shared/navbar %>
    <div class="container">
      <form action="/new_article" method="post">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Pays</label>
          <select class="form-control" id="exampleFormControlSelect1" name="country">
            <% countries.forEach((country) => { %>
              <% console.log(country); %>
              <option value="<%= country._id %>"><%= country.nom %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Source</label>
          <select class="form-control" id="exampleFormControlSelect1" name="source">
            <% sources.forEach((source) => { %>
              <option value="<%= source._id %>"><%= source.nom %></option>
            <% }); %>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Numéro</label>
          <input type="number" name="number" class="form-control" id="exampleFormControlInput1" placeholder="1400">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Date</label>
          <input type="date" name="date" value="">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Titre</label>
          <input type="text" name="title" class="form-control" id="exampleFormControlInput1" placeholder="Titre de l'article">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Contenu</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="15" name="content" placeholder="Contenu de l'article"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Créer l'article</button>
      </form>
    </div>
  </body>
</html>
